<html>
    <head>
        <title>huldvolk</title>
    </head>
    <body>
        <div><h1>huldvolk</h1>
        </div>
            <h2>
        <div><a href="">huldvolk.pythonanywhere.com</a></h2>
        </div>
        <div><h3>Willkommen bei huldvolk.</h3>
        </div>

    
          {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}
    
    </body>
</html>